html, body{
   font-family: open_sanslight; 
    font-style: italic;
    font-size: 15px;
    color: black;
}

.navbar-estilos {
    font-size: 20px;
}

.mensajeInformacion {
	font-family: open_sanslight; 
	font-style: italic;
	background: orange;
	color: white;
}

#contenedorMensajeImportante {
    margin: 0px;
}

.fondo2 {
	font-family: open_sanslight; 
	font-style: italic;
	background-image: url('../imagenes/fondo2.png');
	height: 70vh;
	background-position: top top;
	background-size: cover;
	min-height: 500px;
} 

.texto-informativo {
	font-family: open_sanslight; 
	font-style: italic;
	color: white;
	font-weight: bold;
}

.bg-card {
	background: silver;
}

section{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo-imagenes {
	font-family: open_sanslight; 
	color: #5bc0de;
	font-style: italic;
}

h2 {
	font-family: open_sanslight; 
	font-style: italic;
	color: black;
}


.contenedor{
	margin-top: 5%;
	margin-bottom: 5%;
}

.inner{
	overflow: hidden;
}

.inner img{
	transition: all 1.5s ease;
}

.inner:hover img{
	transform: scale(1.5);
}

a {
	text-decoration: none;
}