html, body{
   font-family: open_sanslight; 
    font-style: italic;
    font-size: 15px;
    color: black;
}

.navbar-estilos {
    font-size: 20px;
}

.mensajeInformacion {
	font-family: open_sanslight; 
	font-style: italic;
	background: orange;
	color: white;
}

#contenedorMensajeImportante {
    margin: 0px;
}

.fondo2 {
	font-family: open_sanslight; 
	font-style: italic;
	background-image: url('../imagenes/fondo2.png');
	height: 70vh;
	background-position: top top;
	background-size: cover;
	min-height: 500px;
} 

.texto-informativo {
	font-family: open_sanslight; 
	font-style: italic;
	color: white;
	font-weight: bold;
}

.bg-card {
	background: silver;
}

section{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo-imagenes {
	font-family: open_sanslight; 
	color: #5bc0de;
	font-style: italic;
}

h2 {
	font-family: open_sanslight; 
	font-style: italic;
	color: black;
}


.contenedor{
	margin-top: 5%;
	margin-bottom: 5%;
}

.inner{
	overflow: hidden;
}

.inner img{
	transition: all 1.5s ease;
}

.inner:hover img{
	transform: scale(1.5);
}

HEAD:assets/css/estilos.css
.footers{
	background: orange;
}

.contact {
    text-align: center;
    background-color: rgba(17, 80, 161, 0.88);
    width: 300px;
    height: 300px;
    margin-top: 50px;
	
}

.ct1, .ct2, .ct3 {
    height: 80px;
    width: 80px;
    margin-left: 100px;
}

.enunciado {
    color: rgb(233, 255, 32);
}

.questions{
	color: black;
}
.titulos{
    text-align: center;
}

.imgcall{
	width: 200px;
}
.imgcall2{
	width: 140px;
	margin-left:50px;
}
.fa-exchange-alt{
	font-size: 40px;
	color: black;
}

#map{
	height: 200px;
	width: 50%;
}

.social-face {
	cursor: pointer;
    margin-top: 10%;
	margin-left: 150%;
    height: 6vh;
    background-repeat: no-repeat;
}
.social-twt {

    cursor: pointer;
    height: 6vh;
    background-repeat: no-repeat;
    margin-top: 10%;
	margin-left: 150%;
	
	
}
.social-goo {
    cursor: pointer;
    height: 6vh;
    background-repeat: no-repeat;
    margin-top: 10%;
	margin-left: 150%;
}
.social li {
    display: inline-block;
    margin-right: .6rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.CUERPO{
    margin: 50px;
    margin-bottom: 5rem;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff;
    line-height: 170%;
    text-align: justify;
    clear: both;
}
.title-lg {
    font-size: 3.6rem;
    line-height: 4rem;
	margin-left: 50px;
	margin-top: 30px;
}
.fest{
	margin: 50px;
    margin-bottom: 5rem;
	font-size: 15px;
    font-weight: normal;

}
